<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de Outfits</h2>



    <div class="card-container">
      <div class="card" *ngFor="let element of dataSource.data">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{element.nameOutfit}}</mat-card-title>
            <mat-card-subtitle>Estilo Outfit: {{element.styleOutfit}}</mat-card-subtitle>
            <mat-card-subtitle>ID Catálogo: {{element.catalog.idCatalog}}</mat-card-subtitle>
            <mat-card-subtitle>#Prendas: {{element.clothesNumber}}</mat-card-subtitle>
            <mat-card-subtitle>Fecha de Publicación: {{element.creationDate}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button color="accent" [routerLink]="['ediciones', element.idOutfit]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button color="warn" (click)="eliminar(element.idOutfit)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <br/>
      </div>
    </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </body>
</html>
