<mat-toolbar color="primary">
  <mat-icon>Menu</mat-icon>
  <button mat-button [matMenuTriggerFor]="menuBrand">Marca</button>

  <button mat-button [matMenuTriggerFor]="menuColor">Color</button>
  <button mat-button [matMenuTriggerFor]="menuEvento">Evento</button>
  <button mat-button [matMenuTriggerFor]="menuTipoPrenda">Tipo Prenda</button>
</mat-toolbar>

<mat-menu #menuBrand="matMenu">
    <button mat-menu-item routerLink="/brands/nuevo">Registrar</button>
    <button mat-menu-item routerLink="/brands">Listar</button>
</mat-menu>

<mat-menu #menuColor="matMenu">
  <button mat-menu-item routerLink="/colores/nuevo">Registrar</button>
  <button mat-menu-item routerLink="/colores">Listar</button>
</mat-menu>

<mat-menu #menuEvento="matMenu">
  <button mat-menu-item routerLink="/events">Listar</button>
</mat-menu>

<mat-menu #menuTipoPrenda="matMenu">
  <button mat-menu-item routerLink="/typeClothings">Listar</button>
</mat-menu>
<router-outlet></router-outlet>
