<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de Colores</h2>



      <div style="text-align: right">
        <button
          *ngIf="role == 'ADMIN'"
          mat-raised-button
          color="primary"
          routerLink="/components/colors/nuevo"
        >
          Nuevo
        </button>
      </div>
      <mat-form-field>
        <input matInput (keyup)="filter($event)" placeholder="Buscar" />
      </mat-form-field>

      <div class="card-container">
        <div class="card" *ngFor="let element of dataSource.filteredData">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ element.nameColor }}</mat-card-title>
              <mat-card-subtitle
                >Tipo: {{ element.typeColor }}</mat-card-subtitle
              >
            </mat-card-header>
            <mat-card-content>
              <p>Descripción: {{ element.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-button
                color="warn"
                [routerLink]="['ediciones', element.idColor]"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-button
                color="accent"
                (click)="eliminar(element.idColor)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
          <br />
        </div>
      </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      ></mat-paginator>


    </div>
  </body>
</html>
